<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
             type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
             requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Dev.Demo.Web-20130130194103;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Dev.Demo.Web-20130130194103.mdf"
         providerName="System.Data.SqlClient" />
    <add name="DefaultConnection1"
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Dev.Demo.Web.SystemManger;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Dev.Demo.Web.SystemManger.mdf"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>